<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/index.js"></script>

<script src="app.js"></script>
<link rel="stylesheet" href="assets/css/style.css">

<link rel="shortcut icon" href="assets/favicon.jpg">
<head>
    <meta charset="UTF-8">
    <title>SAISA Live Admin Home</title>
</head>
<body>
<center>

    <div align="left">
        <button style="font-size: large; display: inline-block; margin-right: 85%" ng-click="logout()">Logout</button>
<!--        <button style="font-size: large; display: inline-block;" ng-click="editTournament()">Edit Tournament</button>-->
    </div>
    <h1>SAISA Live Admin Home</h1>
    <br><br>
    <div>
        <br><br>
        <h2>Currently Active Tournaments</h2>
        <br><br><br>
        <table style="width: 100%">
            <th style="font-size: 20pt">Name</th>
            <th style="font-size: 20pt">Start Date</th>
            <th style="font-size: 20pt">End Date</th>
            <th style="font-size: 20pt">Location</th>
            <th style="font-size: 20pt"></th>
            <th align="center">
                <div>
                    <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                            ng-click="createTournament()">Create Tournament +
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </div>
            </th>
            <tr ng-repeat="items in activeTournaments" ng-class='{red : !items.active, green: items.active}'>
                <td align="center" style="font-size: 20pt;"><b>{{items.name}}</b></td>
                <td align="center"  style="font-size: 16pt;">{{items.startDate}}</td>
                <td align="center"  style="font-size: 16pt;">{{items.endDate}}</td>
                <td align="center"  style="font-size: 16pt;">{{items.location}}</td>
                <td align="center"  style="font-size: 16pt;">
                    <div>
                        <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                                ng-click="manageTournament(items.id)">Manage Tournament
                            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                        </button>
                    </div>
                </td>
                <td align="center">
                    <div>
                        <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                                ng-click="manageAdminAccounts(items.id)">Manage Admin Accounts
                            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br><br><br>
    <div>
        <br><br>
        <h2>Past/Inactive Tournaments</h2>
        <br><br><br>
        <table style="width: 100%">
            <th style="font-size: 20pt">Name</th>
            <th style="font-size: 20pt">Start Date</th>
            <th style="font-size: 20pt">End Date</th>
            <th style="font-size: 20pt">Location</th>
            <th style="font-size: 20pt"></th>
            <th align="center">
            </th>
            <tr ng-repeat="items in inActiveTournaments" ng-class='{red : !items.active, green: items.active}'>
                <td align="center" style="font-size: 20pt;"><b>{{items.name}}</b></td>
                <td align="center"  style="font-size: 16pt;">{{items.startDate}}</td>
                <td align="center"  style="font-size: 16pt;">{{items.endDate}}</td>
                <td align="center"  style="font-size: 16pt;">{{items.location}}</td>
                <td align="center"  style="font-size: 16pt;">
                    <div>
                        <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                                ng-click="manageTournament(items.id)">Manage Tournament
                            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                        </button>
                    </div>
                </td>
                <td align="center">
                    <div>
                        <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                                ng-click="manageAdminAccounts(items.id)">Manage Admin Accounts
                            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</center>
</body>
</html>