<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/index.js"></script>

<script src="app.js"></script>
<link rel="stylesheet" href="assets/css/style.css">

<link rel="shortcut icon" href="assets/favicon.jpg">

<head>
    <meta charset="UTF-8">
    <title ng-if="editGames">{{tournamentData.name}} - Edit Game</title>
    <title ng-if="newGames">{{tournamentData.name}} - New Game</title>

</head>
<body>
<center>

    <div align="left">
        <button style="font-size: large; display: inline-block; margin-right: 90%" ng-click="logout()">Logout</button>
        <button style="font-size: large; display: inline-block;" ng-click="back()">Back</button>
    </div>
    <h1 ng-if="editGames">Edit Game</h1>
    <h1 ng-if="newGames">Add New Game</h1>

    <h2 style="color: #17376e">{{tournamentData.name}}</h2>
    <br><br>
</center>

<form style="width: 100%" name="pics">

    <h4 style=" display: inline-block; margin-right: 500px">Team 1</h4>
    <select ng-model="mT1" style="width: 100%; font-size: 20pt; background: white;">
        <option ng-repeat = "item in teams" value="{{item.id}}">{{item.team.name}}</option>
    </select>
    <br>
    <br>

    <br><br>

    <h4 style=" display: inline-block; margin-right: 500px">Team 2</h4>
    <select ng-model="mT2" style="width: 100%; font-size: 20pt; background: white;">
        <option ng-repeat = "item in teams" value="{{item.id}}">{{item.team.name}}</option>
    </select>
    <br>
    <br>

    <br><br>

    <h4 style=" display: inline-block; margin-right: 500px">Game Description</h4>
    <input type="text" style=" display: inline-block; margin-right: 500px" name="team-photo" ng-model="gameDescription">

    <br><br>

    <h4 style=" display: inline-block; margin-right: 500px">Livestream</h4>
    <select ng-model="mLivestream" style="width: 100%; font-size: 20pt; background: white;">
        <option ng-repeat = "item in livestreams" value="{{item.id}}">{{item.description}}</option>

    </select>
    <br>
    <br>

    <br><br>


    <h4 style=" display: inline-block; margin-right: 500px">Venue/Location</h4>
    <input type="text" style=" display: inline-block; margin-right: 500px" name="team-photo" ng-model="location">

    <br><br>


    <h4 style=" display: inline-block; margin-right: 500px">Start Time</h4>
    <input type="text" style=" display: inline-block; margin-right: 500px" name="team-photo" ng-model="startTime"
           placeholder="Eg: Saturday, 1st of January, 2019">

    <br><br>

    <h4 style=" display: inline-block; margin-right: 500px">Status</h4>
    <select ng-model="mActiveStatus" style="width: 100%; font-size: 20pt; background: white;">
        <option value="1">Live Now</option>
        <option value="0">Upcoming</option>
        <option value="2">Completed</option>
        <option value="3">Inactive/Hidden</option>

    </select>
    <br>
    <br>

    <br><br>

    <button type="submit" class="button buttonBlue" style="font-family: Futura" ng-click="saveGames()"
            ng-disabled="pics.$invalid">Save Game
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>


</form>
</body>
</html>