<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/index.js"></script>

<script src="app.js"></script>
<link rel="stylesheet" href="assets/css/style.css">

<link rel="shortcut icon" href="assets/favicon.jpg">
<head>
    <meta charset="UTF-8">
    <title>Home|SAISA Volleyball Admin Dashboard</title>
</head>
<body>
<center>

    <div align="left">
        <button style="font-size: large; display: inline-block; margin-right: 85%" ng-click="logout()">Logout</button>
        <button style="font-size: large; display: inline-block;" ng-click="createGallery()">Add New Gallery</button>

    </div>
    <h1>Admin Dashboard</h1>
    <h2 style="color: #17376e">SAISA Girls Volleyball 2018</h2>
    <br><br>
    <form name="gameForm">
        <p style="font-size: 15pt">Select Game</p>
        <br><br>
        <select style="font-size: large; width: 90%; text-transform: uppercase" ng-model="game">
            <option ng-repeat="item in fixtures" value="{{item.id}}">{{item.t1}} vs {{item.t2}} (Game {{item.id}})</option>
        </select>
        <br><br><br><br>

        <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura" ng-click="startScoring()">Start Scoring
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>    </form>

    <br><br><br>
</center>
</body>
</html>