<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/index.js"></script>

<script src="app.js"></script>
<link rel="stylesheet" href="assets/css/style.css">

<link rel="shortcut icon" href="assets/favicon.jpg">
<head>
    <meta charset="UTF-8">
    <title>{{tournamentData.name}} - Home</title>
</head>
<body>
<center>

    <div align="left">
        <button style="font-size: large; display: inline-block; margin-right: 85%" ng-click="logout()">Logout</button>
        <button style="font-size: large; display: inline-block;" ng-click="editTournament()">Edit Tournament</button>

    </div>
    <h1>Admin Dashboard Home</h1>
    <h2 style="color: #17376e">{{tournamentData.name}}</h2>
    <br><br>
    <div>
        <div class="col-md-4">
            <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                    ng-click="startScoring()">Manage Games/Scoring
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </div>
        <div class="col-md-4">
            <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                    ng-click="manageLive()">Manage Livestreams
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </div>
        <div class="col-md-4">
            <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                    ng-click="media()">Manage Media
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </div>
    </div>

    <br><br> <br><br>
    <div ng-repeat="item in pools">
        <br><br>

        <h2>Participants - Pool {{item.pool}}</h2>

        <br><br><br>

        <table style="width: 100%">
            <th style="font-size: 20pt">Team</th>
            <th style="font-size: 20pt">Games</th>

            <th style="font-size: 20pt">Wins</th>

            <th style="font-size: 20pt">Losses</th>
            <th style="font-size: 20pt">Ties</th>
            <th style="font-size: 20pt">Points</th>
            <th style="font-size: 20pt">Standing</th>
            <th style="font-size: 20pt">Active Status</th>

            <th align="center">
                <div>
                    <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                            ng-click="addTeam($index)">Add Team +
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </div>

            </th>


            <tr ng-repeat="items in item.participants" ng-class='{red : !items.active, green: items.active}'>
                <td align="center" style="font-size: 20pt;"><b>{{items.team.name}}</b></td>
                <td align="center"><input type="text"  ng-model = "items.games" value="{{items.games}}"> </td>
                <td align="center"><input type="text" ng-model = "items.wins" value="{{items.wins}}"></td>
                <td align="center"><input type="text" ng-model = "items.losses" value="{{items.losses}}"></td>
                <td align="center"><input type="text" ng-model = "items.ties" value="{{items.ties}}"></td>
                <td align="center"><input type="text" ng-model = "items.points" value="{{items.points}}"></td>
                <td align="center"><input type="text" ng-model = "items.standing" value="{{items.standing}}"></td>
                <td align="center"><input style="transform: scale(1)" type="checkbox" ng-model = "items.active" value="{{items.active}}"></td>
                <td align="center">
                    <div>
                        <button ng-disabled="gameForm.$invalid" type="submit" class="button buttonBlue" style="font-family: Futura"
                                ng-click="applyChanges($index, $parent.$index)">Apply Changes
                            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                        </button>
                    </div>
                </td>
            </tr>


        </table>
    </div>
</center>
</body>
</html>